.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(209, 209, 209)
}
.header h1 {
  padding: 0 20px;
}

.Btn {
  margin: 0 20px 0 auto;
}

.backToHome {
  margin: 3rem 0 0;
}

.articleBody {
  display: flex;
}